

/* get estimate style start here */
@media only screen and (max-width:600px){
    #show_error {
        width: 100%;
        display: flex;
        margin-top: -17%;
    }
}

/* porters for you section style start here */
@media only screen and (max-width:600px){
    #show_parent_1>div{
        width: 100px;
        height:auto;
        margin:20px;
    }
    #show_parent_1{
        width:90%;
    }
}


@media only screen and (max-width:600px){
    #show_info_price>div:nth-child(2) {
        margin-left: 7px;
        font-size: 10px;
    }
    #show_info_1>div:nth-child(2){
        font-size: 12px;
        padding: 12px;
    }
    .kg_style_box {
    
    font-size: 9px;
    }
    #show_info_1>div:nth-child(1){
        font-size:15px;
    }
}



/* we are transfering cities style start here */
@media only screen and (max-width:600px){
    #transfor_parent{
        width: 65%;
    }
    #transfor_parent>div:nth-child(3){
        margin: 0 0 5% 0%;
    }
    #transfor_parent>div:nth-child(1){
       font-size:20px;
       margin-left: 20%;
    }
    .city_round_box>div:nth-child(1){
        width:100%;
    }
    .city_round_box>div:nth-child(1) img{
        width:100%;
        height: 60px;
    }
    #transfor_parent>div:nth-child(2) {
        margin: 3% 0 3% 55%;
    }
}