#footer ,#footer_2{
    width: 100%;
    height: 220px;
    background-color: #000000;
    display: flex;
}

#footer_2>div{
    width: 250px;
    height: 250px;
    margin-left:20px;
}
#footer>div {
    width: 300px;
    height: 250px;
    margin-left: 10px;
    
}

#foot_child_1 ,#foot_child_1_1{
    display: flex;
    flex-direction: column;
}

#foot_child_1>div  {
    width: 150px;
    height: 20px;
    margin-top: 8px;
    margin-left: 20px;
    color: white;
    /* border: 1px solid red; */
}

#foot_child_1_1>div{
    width: 150px;
    height: 20px;
    margin-top: 12px;
    /* margin-left: 13px; */
    color: white;
    font-family: 'Titillium Web', sans-serif;
    /* border: 1px solid red; */

}
   
#foot_child_1_1>div:nth-child(1){
    margin-top: 50px;
    margin-bottom: 15px;


}

#foot_child_1>div:nth-child(1) {
    width: 200px;
    height: 50px;
    margin-top: 50px;
   
}

#foot_child_1>div:nth-child(1)>img {
    width: 150px;

}

.foot_child_2 {
    display: flex;
    flex-direction: column;
  
}

.foot_child_2>div {
    width: 150px;
    height: 20px;
    margin-top: 12px;
    margin-left: 20px;
    color: white;
    font-size: 15px;
  
}

.foot_child_2>div:nth-child(1) {
    width: 200px;
    margin-top: 50px;
    font-size: 23px;
    margin-bottom: 12px;
   
}

#foot_child_3{
    display: flex;
    flex-direction: column;
}

#foot_child_3>div{
    width: 80%;
    height:50px;
    
   
}
#foot_child_3>div:nth-child(1){
    width: 80%;
    margin-top:50px;
}
#foot_child_3>div:nth-child(2){
    width: 80%;
    margin-top:20px;
}

#foot_child_3>div:nth-child(1)>img,#foot_child_3>div:nth-child(2)>img{
    width: 200px;
}

#footer_logo{
    width: 100%;
    height:60px;
    background-color: #000000;
    display: flex;
    color: rgb(151, 149, 149);
}
#footer_logo>div:nth-child(1){
    width: 59%;
    margin-left: 25px;
}
/* still_question start here */
#still_question {
    width: 100%;
    height: 130px;
    background-color: #EEE9FD;
    display: flex;
    margin-top: 5%;
}

#still_question>div:nth-child(1) {
    width: 100px;
    height: 100px;
    margin-left: 30%;
    margin-top: 1%;
    background-color: rgb(255, 248, 248);
    border-radius: 50px;
}

#still_question>div:nth-child(1)>img {
    width: 60px;
    height: 100px;
    margin-left: 25px;

}

#still_question>div:nth-child(2) {
    width: 40%;
    height: 100px;
    margin-left: 1%;
    margin-top: 1%;

}

#still_question_1 {
    display: flex;
    flex-direction: column;
}

#still_question_1>div:nth-child(1) {
    font-size: 25px;
    font-weight: 600;
    color: rgb(36, 35, 35);
}

#still_question_1>div:nth-child(2) {
    width:22%;
    padding: 13px 20px;
    background-color: #3A3A3A;
    margin-top: 15px;
    color: white;
    font-weight: 650;
    border-radius: 2px;
}