body {
    font-weight: bold;
  }

  h3 {
    text-align: center;
    background-color: #14279B;
    margin-top: 20px;
    color: white;
    margin-bottom: 0px;
    border: 1px solid #777575;
    padding: 5px;
  }

  table {
    width: 100%;
    text-align: center;
  }

  td,
  th,
  tr {
    border: 1px solid #777575;
    padding: 8px;
  }

  thead {
    background-color: #14279B;
    color: white;
    align-items: center;
  }

  .header{
    background-color: grey;color: black; font-weight: 700;
}
.header a{
    color:black
}
.header a:hover{
  color:black;
}

#logout{
  text-decoration: underline;
}