<html>

<head>
    <link rel="stylesheet" href="packers_movers.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    
    <link rel="icon" href="https://d35ppnqksufxmo.cloudfront.net/frontend_website/favicon.ico">
     <title>On Demand delivery service for businesses | Porter for Enterprise</title>
    <link rel="stylesheet" href="css/for_enterprise.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
</html>

<body>
        <div>
                <!--body content start here-->
                <div>
                    <div class=top-banner>
                        
                        <img id="img-banner"
                                src="https://d35ppnqksufxmo.cloudfront.net/frontend_website/37e0d89461ca39f25e6b9d5efbbbceea.png"
                                alt="">
                        </div>
                        <div class="banner-title">Transform your Enterprise Business with Porter Deliveries</div>
                </div>
    
                <!--form   -->
                <div >
                    <div id="thanks" class="form-enterprize" style="display:none;">
                            <p>Thank you for contacting us</p>
                            <h2>Porter</h2>
                            <p>We will get back to You shortly</p>
                            <button onclick="backToPage()">Get Another Quote</button>
                    </div>
                    <div id="form">
                            <div class="formdesign">
                                    <h2>FOR ENTERPRISES</h2>
                            </div>
            
            
                            <form action="/add" method="POST">
                                    
                                    <div class="formdesign">
                                            <select id="city">
                                                    <option>Select city</option>
                                                    <option value="MUMBAI">MUMBAI</option>
                                                    <option value="DELHI NCR">DELHI NCR</option>
                                                    <option value="BANGALORE">BANGALORE</option>
                                                    <option value="HYDERABAD">HYDERABAD</option>
                                                    <option value="PUNE">PUNE</option>
                                                    <option value="CHENNAI">CHENNAI</option>
                                            </select>
                                            <b>
                                                    <div class="formerror"></div>
                                            </b>
                                    </div>
            
                                    <div class="formdesign">
            
                                            <input id="PersonName" type="text" placeholder="Contact Person" required>
                                            <b>
                                                    <div class="formerror"></div>
                                            </b>
                                    </div>
            
                                    <div class="formdesign">
                                            <input id="CompanyName" type="text" placeholder="Company name">
                                            <b>
                                                    <div class="formerror"></div>
                                            </b>
                                    </div>
            
                                    <div class="formdesign">
                                            <input type="number" placeholder="+91-" id="number">
                                            <b>
                                                    <div class="formerror"></div>
                                            </b>
                                    </div>
                                    <div class="formdesign">
                                            <select id="MontlyTrip">
            
                                                    <option value="Montlytrip">Montly trip</option>
                                                    <option value="None">None</option>
                                                    <option value="0-50">0-50</option>
                                                    <option value="50-100">50-100</option>
                                                    <option value="More-than 100">More-than 100</option>
            
                                            </select>
                                            <b>
                                                    <div class="formerror"></div>
                                            </b>
                                    </div>
                                    <div class="formdesign">
                                            <input id="Email" type="Email" placeholder="Email address">
                                            <b>
                                                    <div class="formerror"></div>
                                            </b>
                                    </div>
            
                            </form>
            
                            <button onclick="validateForm()" type="submit" id="Request-callback">REQUEST CALLBACK</button>
                     </div>
                    
                </div>
    
                 <!-- feature content -->
            <div class="feature-container">
                <div class="title"> Why use Porter for Enterprise?</div>
                <div class="bar"></div>
               <div class="feature-cont">
                   <div class="feature">
                      <div><img src="../public/images/pay per user.png"> </div>
                      <div>
                          <h3>Pay per Use</h3>
                          <p >No fixed Montly contacts.Pay<br>Only for the time & distance you<br>use</p>
                      </div>
                   </div>
                   <div class="feature">
                      <div><img src="../public/images/control.png"> </div>
                      <div>
                          <h3>Greater Control</h3>
                          <p >Get visibility of all your hub level<br>logistic movement</p>
                      </div>
                   </div>
                   <div class="feature">
                      <div><img src="../public/images/hassale.png"> </div>
                      <div>
                          <h3>Hassle Free Accounting</h3>
                          <p>Get rid of order level payment & <br>reimbursement.Pay certainly for<br>
                        Pan India usage</p>
                      </div>
                   </div>
                  
                  
    
               </div>
    
            </div>
            <!--frowing  network-->
                <div class="network_cont">
    
                        <div class="title">OUR GROWING NETWORK</div>
                        <div class="bar"></div>
                        <div class="main">
                            <div class="network-feature">
                                <h1>9</h1>
                                <p>CITIES</p>
                            </div>
                            <div class="network-feature">
                                <h1>2000+</h1>
                                <p>VEHICLE BASE</p>
                            </div>
                            <div class="img_cont">
                                <img src="https://d35ppnqksufxmo.cloudfront.net/frontend_website/9bbfd28dd5ad59178779fc05ed7d1c29.svg"
                                        alt="">
                            </div>
                            
                            <div class="network-feature">
                                <h1>500+</h1>
                                <p>DRIVER PARTNERS</p>
                            </div>
                            <div class="network-feature">
                                <h1>60,000+</h1>
                                <p>TRIPS PER MONTH</p>
                           </div>
                           <div class="description">Our business is growing by the minute! We are now present in eight
                            cities and have an extensive fleet base of 2000 plus vehicles. We run more than 60,000
                            trips in a month! Our loyal customers across 8 cities serve as a testament of our top
                            notch service and ever expanding presence.</div>
                        </div>
                </div>
            
                
                    <!-- growing bussines start here -->
    
            <div class="growing_bussiness">
                <div class="title">
                        GROWING BUSINESS
                </div>
                <div class="bar"></div>
                <div class="bussiness_cont">
                        <div class="cont2">
    
                       
                        <div class="buss">
                                <p class="bussiness_desc">“Porter has emerged as a very reliable logistics provider and
                                        has provided us with a
                                        good option to scale with better SLAs.Thanks to porter to giving us this facilities.”</p>
    
                              <div class="manager">
                                    <h2 id="head_manaheger">Logistics Manager</h2>
                                
                                    <p class="bussiness_positions">at a Leading FMCG MNC</p>
                                    <p class="big_bar"></p>
                              </div>
                              
                        </div>
                        <div  class="buss">
                                <p class="bussiness_desc">“They helped us with ground level sensitivity on vehicle
                                        utilisation. Their gps
                                        tracking system helped us ensure delivery in time and detect inefficiencies.”
                                </p>
                                <div class="manager">
                                    <h2 id="head_ceo">CEO</h2>
                                    <p class="bussiness_positions">of an Ecommerce company</p>
                                    <p class="big_bar"></p>     
                                </div>
    
                                
                               
                        </div>
                        <div  class="buss">
                                <p class="bussiness_desc">“We had introduced Porter in Mumbai for our fleet, they
                                        performed beyond expectations
                                        in terms of vehicle deployment and helped us scale at a much.”</p>
                               <div class="manager">
                                    <h2 id="head_logist">Logistics Head</h2>
                            
                                    <p class="bussiness_positions">at a Manufacturing plant</p>
                                    <p class="big_bar"></p>
                              </div>
                               
                        </div>
                        </div>
                </div>
        </div>
                   
              <!-- industries section start here -->
    
    
            <div id="industries">
    
                    <div class="title">INDUSTRIES</div>
                    <div class="bar"></div>
    
                    
                                    <div class="industriesDes">Business Image
                                            The expertise and experience we have in handling a wide range of goods makes us the market
                                            leader in logistics! We transport anything and everything ranging from timber to fruits and
                                            vegetables, FMCG to pharmacy and medical supplies. Other goods we transport include frozen and
                                            processed foods, e-commerce related merchandise and electronic goods
                                    </div>
                    <div class="industriesCont">
                            <div>
                                    <img id="industriesImg"
                                            src="https://d35ppnqksufxmo.cloudfront.net/frontend_website/fd047a61e3a256afcfb16f1f3227239a.webp"
                                            alt="">
                            </div>
    
    
                            <div class="industriestable">
                                    <div class="box1">
                                            <div class="tableLeft">ELECTRONICS & APPLIANCES</div>
                                            <div class="tableright">FURNITURES</div>
                                    </div>
                                    <hr />
                                    <div class="box1">
                                            <div class="tableLeft">F&Vs & PROCESSED FOODS</div>
                                            <div class="tableright">CONSTRUCTION MATERIALS</div>
                                    </div>
                                    <hr />
                                    <div class="box1">
                                            <div class="tableLeft">CHEMICALS & PHARMACEUTICALS</div>
                                            <div class="tableright">E-COMMERCE</div>
                                    </div>
                                    <hr />
                                    <div class="box1">
    
                                            <div class="tableLeft">COURIERS & LOGISTICS</div>
                                            <div class="tableright">FMCG</div>
                                    </div>
                            </div>
                    </div>
    
            </div>
          <!-- query section -->
       <div class="query">
    
            <div class="left">
                    <div class="query-img-cont">
                      <img src="../public/images/ent-van.png">     
                            
                    </div>
            </div>
            <div class="querycont">
    
    
                    <div class="title">FOR ANY MORE QUERY</div>
                    <div class="bar"></div>
                    <div class="querydesc">
                            Reach us out on
                    <span>9667309777</span>
                    today to know more aboutus and get benefits
                    from our managed services offering. Our expert team will be happy to know more about your
                    business and recommend the best possible solutions tailored to your logistics needs.
                    </div>
                    <button  onclick ="scrollup() "id="Request-callback2">REQUEST CALLBACK</button>
    
    
            </div>
    
    
      </div>
    
               
           </div>
</body>