body {
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

.under_bar {
    width: 110px;
    height: 3px;
    background-color: #2962FF;
    margin-top: 4%;
}

.city_tempo {
    text-decoration: none;
    color: #3a3a3a;
}

#drive_part_link {
    text-decoration: none;
    color: #4562FF;
}

#nm,#mobile{
    width:87%;
}

#myselect2>option:nth-child(1), #myselect3>option:nth-child(1) {
    display: none;
}

#register {
    background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partner_hero_banner-3620167036690f9db1bb979b43b863835305dfdfb08c97584baa3de7727002c4.jpg");
    height: 600px;
    background-repeat: no-repeat;
}

#right {
    float: right;
    width: 28%;
    margin-right: 4%;
}

#details {
    background-color: rgb(254, 223, 0);
    text-align: center;
    margin-top: 3%;
    margin-left: 5%;
    word-wrap: break-word;
    height: 65%;
    padding: 10px;
    display: block;
}

#required {
    margin-right: 50%;
    color: red;
    display: none;
}

#required2 {
    margin-right: 50%;
    color: red;
    display: none
}

#extradiv {
    background-color: rgb(254, 223, 0);
    height: 50%;
    text-align: center;
    margin-top: 10%;
    margin-right: 10%;
    padding: 30px;
    display: none;
}

#tk {
    font-size: 30px;
    font-weight: 600;
    padding-top: 5%;
}

#white {
    background-color: white;
    color: blue;
    border-color: blue;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    margin-top: 30px;
}

#entername {
    height: 10%;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 5%;
}

#bk {
    font-size: 20px;
}

#entername {
    margin: 20px 0px;
}

form {
    display: flex;
    flex-direction: column;
}

#cty {
    display: none;
}

input {
    padding: 5%;
    margin: 0%;
    margin-bottom: 5%;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 96%;
    line-height: 20px;
}

select {
    width: 47%;
    margin: 0px 2px;
    border-radius: 3px;
    color: #424242;
    border: none;
    padding: 2%;
    height: 50px;
    outline: none;
    margin-bottom: 5%;
}

#hearabout select {
    width: 97%;
    margin-bottom: 5%;
}

#downloadapp {
    text-align: center;
    margin: 1% auto;
}

#butn {
    background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/mobile_app_badge-9bc17d1269926ca97c80c5f10c02f0a0d4ef17221f1b9ecc423baaf17c072b38.svg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 1px;
    margin-left: 15%;
    margin-top: 5px;
    width: 250px;
    height: 48px;
}

#downloadapp p {
    margin: 5px;
}

#downloadapp h2 {
    margin-bottom: 10px;
}

#content {
    float: left;
    position: absolute;
    margin-top: 450px;
    margin-left: 4%;
    word-wrap: break-word;
}

#content>h1 {
    color: #5e0be0;
    font-size: 50px;
    margin-bottom: 6px;
}

#regis {
    height: 50px;
    background-image: linear-gradient(98deg, #2962ff, #5e0be0);
    color: white;
    width: 97%;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

#content>p {
    font-size: 20px;
    margin: 0px;
}

/* SECOND DIV */

#ptrcontainer {
    width: 70%;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
   
}

#ptrcontainer p {
    font-size: 14px;
}

#ptrcontainer h3 {
    font-size: 16px;
}

#ptrcolor {
    background-image: linear-gradient(98deg, #2962ff, #5e0be0);
    width: 30px;
    height: 4px;
    margin: 20px auto;
    border-radius: 2px;
}

#ptradvt {
    margin-top: 100px;
}

#ptradvt>h2 {
    text-align: center;
}

.ptrbox {
    width: 32%;
    margin-left: 10px;
    text-align: center;
    
}

.ptrimg {
    background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partner_features-b0f58d39a52d583c770d33353372979ce1bdb0975a8139955b0ddf1f4e4003c1.svg");
    height: 180px;
    width: 190px;
    margin: 20px;
    margin-left: 40px;
    margin: auto;
}

#box1 {
    background-position: 0.1em;
}

#box2 {
    background-position: -18em;
}

#box3 {
    background-position: -36.5em;
}


/* <!-- THIRD DIV --> */

#lifeasycontr {
    overflow: hidden;
    height: 650px;
    margin: 0px;
}

#lifebkg1 {
    background: #e7cd09;
    width: 100%;
    transform-origin: top left;
    transform: skewY(9deg);
    border: 0px solid black;
    float: left;
    height: 100%;
    opacity: 0.9;
    margin: 0px;
}

#lifebkg2 {
    background-color: #5e37d1;
    transform-origin: top right;
    transform: skewY(-16deg);
    float: right;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    margin-top: -15%;
}

#lifecontentbkg {
    transform: skewY(7deg);
    margin-bottom: 250px;
}

#lifecontent>div>p,#lifecontent>div>h3{
    font-size: 15px;
}

#lifeasycont {
    margin: 15px;
    padding: 0px 80px;
    margin-top: -45px;
    margin-bottom: 40px;
}

#easy_under_dash {
    background-image: linear-gradient(112deg, #2962ff, #5e0be0);
    width: 30px;
    height: 5px;
    border-radius: 2px;
    margin-bottom: 10px;
}

#lifebox {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 4%;
    margin-top: 5%;
}

#lifebox h3, #lifebox p {
    color: white;
    font-size: 16px;
    margin: 15px;
    margin-left: 0px;
}

#lifebox p {
    font-size: 16px;
}

#lifeimg {
    background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partners/driver_experience-87051334459376357b6125e2b776e61175461d3db60f2a5fdad972d51839137e.gif");
    background-repeat: no-repeat;
    background-size: 90% 90%;
    border-radius: 10px;
    margin: 0px;
    height: 350px;
    border: 1px solid rgb(87, 87, 87);
    margin-left: 90px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    margin-top: 55px;
}

#lifecontent {
    color: black;
}



/* FOURTH DIV */

#benefcontainer {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    /* border:2px solid black; */
}

#benefcontainer h2{
    margin-left: 70px;
}

#benefbkg {
    background-image: linear-gradient(95deg, #2962ff, #5e0be0);
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 20px 0px;
    margin-left: 70px;
}

#benef {
    margin: auto;
    display: flex;
    font-size: 16px;
}

#benef p {
    font-size: 14px;
}

.benefbox {
    width: 400px;
    margin-left: 10px;
    text-align: center;
}

.benefimg {
    background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partner_benefits-cf36020c5e935423d10b6b588ad664dad9acf72ecabd82c77f79699e6b653b5d.svg");
    height: 180px;
    width: 185px;
    margin: 20px;
    margin-left: 40px;
}

#benefimg1 {
    background-position: 0em;
}

#benefimg2 {
    background-position: -19em;
}

#benefimg3 {
    background-position: -37em;
}

#benefimg4 {
    background-position: -56em;
    width: 178px;
}


/* FIFTH div */

#chnglifebody {
    overflow: hidden;
    margin-top: 60px;
}

#chnglifecont {
    background-image: linear-gradient(111deg, #90caf9, #8a60cc);
    opacity: 1;
    transform-origin: bottom right;
    transform: skewY(6deg);
    padding-top: 10px;
}

#chngfullcont {
    transform: skewY(-6deg);
    position: relative;
    margin-top: 100px;
}

#changelifehead {
    margin-left: 74px;
}

#under_dash {
    position: relative;
    background-image: linear-gradient(11deg, #039be5, #5e0be0);
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 20px 0px;
}

#chnglifebox {
    margin: auto;
    margin-left: 60px;
    display: flex;
}

.chngsemicol {
    background-image: url("https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/parcel_assets-58614ff7017f542b7a34e9db37d1cfe92a0228e42a228bffc48aca1ff7883492.svg");
    background-repeat: no-repeat;
    height: 1000px;
    width: 35%;
    background-position: -57em;
    margin-left: 64%;
    margin-bottom: -62em;
}

.chnglifeimg {
    box-shadow: 0 0 4px 0 ;
    margin: 10px;
    width: 30%;
    border-top: 24px solid #fedf00;
    border-bottom: 24px solid #fedf00;
    border-radius: 2px;
    background-color: white;
    position: relative;
}

.chnglifecontent p {
    margin: 50px 15px;
}

.chnglifefedbck {
    display: flex;
    flex-direction: row-reverse;
}

.chnglifefedbck p {
    margin: 4px;
    color: #5e0be0;
}

.chngsmalltext {
    font-size: 14px
}

.chnglargetext {
    font-weight: 600
}

.chnglifephoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(https://d3o1t8vp7n8wsg.cloudfront.net/assets/website_revamp/partners/partner_testimonial-50c51bfe5b65f8e4628b8d59d03345c282dec8112368312c287aa2b234689e33.png);
    background-size: auto 100%;
    margin-left: 16px;
    margin-right: 10px;
}

#chngphoto1 {
    background-position: 0em;
}

#chngphoto2 {
    background-position: -4em;
}

#chngphoto3 {
    background-position: -7.5em;
}


/* SIXTH DIV */

#multivehiclecont {
    width: 95%;
    margin: 70px auto;
}

#multivehiclebkg {
    background-image: linear-gradient(95deg, #2962ff, #5e0be0);
    width: 30px;
    height: 4px;
    border-radius: 2px;
    margin: 20px 0px;
}

#mutlivehiclebox {
    display: flex;
}

#mutlivehicleimg img {
    margin-left: 30%;
    width: 100%;
    margin-top: 70px;
}

#multivehiclecontent {
    margin: 10px 0px;
    margin-right: 15%;
    margin-left: 20%;
    margin-top: 70px;
}

#multivehiclecontent h3 {
    font-size: 16px;
}

#multivehiclecontent p {
    font-size: 14px;
    margin: 20px 0px;
}

#mutibtn {
    background-image: linear-gradient(98deg, #2962ff, #5e0be0);
    border: none;
    height: 40px;
    padding: 10px 30px;
    color: white;
    font-size: 15px;
    border-radius: 3px;
    width: 200px;
}


/* SEVEN DIV */

.body {
    height: 100%;
    background-color: rgb(250, 250, 250);
    margin: 150px 0px;
    /* display:block; */
}

.ltitle {
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    /* margin-top: 10%; */
}

.body>.bar {
    width: 30px;
    border-radius: 8px;
    background-image: linear-gradient( 84deg, #2962ff, #5e0be0);
    height: 4px;
    margin-top: 15px;
    margin-left: 49%;
}

.collapsible {
    color: rgb(96, 96, 96);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

#fa {
    font-size: 25px;
    margin-right: 10px;
    padding-right: 10px;
}

button {
    background-color: rgb(250, 250, 250);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.mar {
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
}

.content>p {
    margin: 0px;
    font-size: 15px;
}